// primary color
$color-green: #30ba60;
$color-mars: #9c2701;
$color-red: #ad0e0e;
$color-white: #f1f1f1;

//secondary color
$color-darkgreen: #264f34;
$color-darkred: #581212eb;
$color-darkblack: #050505;