@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
  background-color: $color-mars; 
  color: white; 
  height: 70px;

  &__logo {
    cursor: pointer;
    justify-content: center;
    margin: 0;
    font-size: 1rem;
    display: flex; 
    align-items: center; 
    flex: 1; 

  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: flex-start;
    svg {
      fill: white; 
      width: 24px; 
      height: 24px; 
    }
  }

  &__master {
    font-size: 24px;
  }
  &__nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      li {
        margin-left: 20px;
        &:first-child {
        //   margin-left: 0;
        }
        a {
          color: white; 
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: $color-white;
          }
        }
      }
    }
  }

  &.open {
    .header__nav {
      display: block;
    }
  }
}


//   &.open {
//     .header__nav {
//       display: block; 
//       transition: all 0.3s ease; 
//     }
//   }
// }